.modal-wrapper {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: min(320px, 90%);
  height: 250px;
  border-radius: 16px;
  padding: 10px 15px;
  background: linear-gradient(
    rgb(28, 27, 35),
    rgb(41, 42, 67),
    rgb(30, 29, 40)
  );
  overflow: hidden;
  z-index: -2;
  border: 1px solid gray;
}

.children-wrapper {
  z-index: 10;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  color: white;
}

.wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 2em;
}

.wallet > div {
  cursor: pointer;
  color: white;
}
.address-style {
  color: white;
  margin-bottom: 1em;
}

.closeModalBtn {
  cursor: pointer;
}

.account {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 407px;
}

.disconnect-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
